:root {
  --background-color: #f8f9fa;
  --bs-primary-rbg: #457b9d;
}

body {
  font-family: 'Lato', sans-serif;
  /* background-color: var(--background-color); */
  background: linear-gradient(90deg, #a8dadc 10%, #f8f9fa 50%, #a8dadc 90%);

  color: var(--bs-primary-rbg);
  font-weight: 400;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: var(--bs-primary-rbg);
}

.container-fluid-custom {
  max-width: 1600px;
}
/* Buttons */
.btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 2rem;
}
.btn-outline-primary {
  --bs-btn-color: #457b9d;
  --bs-btn-border-color: #457b9d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5b93b2;
  --bs-btn-hover-border-color: #5b93b2;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #457b9d;
  --bs-btn-active-border-color: #457b9d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #457b9d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #457b9d;
  --bs-gradient: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #457b9d;
  --bs-btn-border-color: #457b9d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5b93b2;
  --bs-btn-hover-border-color: #5b93b2;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #457b9d;
  --bs-btn-active-border-color: #457b9d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #457b9d;
  --bs-btn-disabled-border-color: #457b9d;
}
.nav-link {
  color: #333333;
  transition: 0.3s;
  font-weight: 400;
}
.nav-link:hover {
  color: #457b9d;
}

/* This style was added specifically for the Home link */
.nav-link.active {
  color: #457b9d !important;
  font-weight: 400 !important;
}
.nav-link.active:hover {
  color: #457b9d !important;
}

.logo,
.footerlogo {
  align-items: center;
  width: 60px;
  height: 60px;
}
.eth {
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  margin-left: -15px;
  color: #333333;
}

.hero-eth {
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  margin-left: -15px;
  color: #333333;
}
@media (min-width: 1200px) {
  .home {
    background: url('../img/back-g4.png') left bottom no-repeat,
      url('../img/backg5.png') right bottom no-repeat,
      linear-gradient(90deg, #a8dadc 10%, #f8f9fa 50%, #a8dadc 90%);

    background-size: 40%, 30%, cover;
    background-blend-mode: normal;
  }
}
/* Dashboard Styling */
.search-bar {
  max-width: 1000px !important;
  border-radius: 15px;
  margin: 0 auto;
}

.search-bar::placeholder {
  font-size: 14px;
  padding-left: 10px;
}

.search-bar:hover {
  border-color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.custom-log {
  margin-right: 10px;
}
